.order
{
    background-color:#f9f9f9;
    position: relative;
    padding: 40px;
    margin: 20px 0;
    border: 1px solid grey;
}
.order__id{
    position: absolute;
    top: 40px;
    right: 20px;
}
.ordertotal{
    margin-top: 20px;
    font-weight: 500;
    text-align: right;
}