*{
    top: 0%;
    margin: 0%;
    padding: 0%;
}


.home{
   
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
}
.home__row{
    display: flex;
    justify-content: center;
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}